name: Vite + SolidJS build + GitHub Pages

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5.0.0
      
    - name: Configure Pages
      uses: actions/configure-pages@v5

    - name: Setup Node
      uses: actions/setup-node@v3.9.1
      with:
        node-version: "22.x"

    - name: Install Dependencies
      run: npm install --force

    - name: Build
      run: npm run build

    - name: Upload Artifact
      uses: actions/upload-pages-artifact@v4.0.0
      with:
        path: dist/

  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Deploy Page
      uses: actions/deploy-pages@v4.0.5
